* {
    margin: 0;
    padding: 0;
}
body { font-family: "Open sans", sans-serif;
    padding-top: 41px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    max-width: 100vw;
    min-width: 10vw;
    }
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding-bottom: 19px;
    padding-top:18px;

}
.header__left{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 230px;
}
.logo{
    width: 44px;
   }
.search__icon{
    width: 26px;
    
}
.header__right{
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-right: 230px;
}
.img__menu{

}
.img__profile{

}
.img__chart{
    width: 32px;
    padding-right: 10px;
}
.top{
    display: flex;
    flex-direction: row;
    background-color: #F1E4E6;
}
.top__left{

}
.img__model{
    width: 800px;
}
.top__right{
display: flex;
margin: auto;
gap: 16px;
}
.img__rectangle{
    height: 92px;
}
.text_block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}
.top__text1{
    grid-column: span 2;
    font-size: 48px;
}
.top__text2{
    font-size: 32px;
}
.title__cat{
    color: #fff;
}
.pink__color{
    color: #F16D7F;
}
.categories{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
justify-items: center;
margin-top: 44px;
margin-bottom: 40px;
padding-left: 230px;
padding-right: 230px;
}

.women__block{
    height: 260px;
    width: 360px;
    background-image: url(img/women__bg.svg);
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: #222;

    }
.men__block{
    height: 260px;
    width: 360px;
    background-image: url(img/men__bg.svg);
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: #222;
}
.kids__block{
    height: 260px;
    width: 360px;
    background-image: url(img/kids__bg.svg);
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: #222;

}
.accessories__block{
    height: 180px;
    width: 1140px;
    background-image: url(img/accessories__bg.svg);
    display: grid;
    grid-column: span 3;
    grid-row: span 1; 
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: #222;
}
.access__img{

}

.featured{
display: grid;
justify-items: center;
}
.featured__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    margin-top: 44px;
    margin-bottom: 40px;
    padding-left: 230px;
    padding-right: 230px;
}