* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body { font-family: sans-serif;
    padding-top: 41px;
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);


}

.top {}

.top__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
    align-items: center;
}

.top__logo {
}

.top__links {
    display: flex;
    justify-content: flex-end;
    gap: 32px;

}

.active_link {
    color: orange;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 500;
}

.links {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 500;
}

.top__content {
    display: flex;
    justify-content: center;
    gap: 39px;
}

.top__info {}

.heading1 {
    width: 522px;
    font-size: 60px;
    line-height: 70px;
    color: #000;
    font-weight: 700;
    margin-bottom: 17px;
}

.text__info {
    width: 466px;
    margin-bottom: 37px;
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    line-height: 23.44px;;
}

.active_button {
    background-color: #f25822;
    color: #fff;
    border: 4px solid #f25822;
    border-radius: 9999px;
    width: 140px;
    height: 50px;
}

.inactive_button {
    background-color: #fafafa;
    color: #888;
    border: 4px solid #fafafa;
    border-radius: 9999px;
    width: 140px;
    height: 50px;
}

.top__logos {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.logos {
    padding-top: 97px;
    padding-bottom: 97px;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 362px);
    gap: 30px;
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}
.item{
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; */
    display: grid;
    justify-items: center;
    gap:30px;
    font-size: 26px;

}
.item_big{
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}
.heading{
    font-style: normal;
    font-family: "Gilroy-Medium";
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;

    color: #fff;
}
.item_text{
    font-style: normal;
    font-family: "Gilroy-Medium";
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #fff;
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
    align-items: center;
}
.header_sec1{
    font-style: normal;
    font-family: "Gilroy-Bold";
    font-size: 45px;
    padding-bottom: 20px;
    line-height: auto;
}
.text_s1{
    font-style: normal;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 35px;
}
.button__sec1{
    width: 140px;
    height: 50px;
    font-size: 15px;
    border: 1px solid #F25822;
    color: #fff;
    background-color: #F25822;
    border-radius: 50px;
    font-style: normal;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-weight: bold;
    line-height: auto;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 100px;
        
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.card2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1px;
    border-color: #fff;
    background-color: #fff;
    /* box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.5) */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
}
.img_card{
    padding-bottom: 25px;
    padding-top: 40px;
}
.header_cards{
    font-style: normal;
    font-family: "Gilroy-Bold";
    padding-bottom: 17px;
    font-size: 24px;
}
.card_link{
    padding-bottom: 17px;
    font-style: normal;
    font-family: "Gilroy-Bold";
    font-size: 11px;
    font-weight: bold;
}
.text_cards{
    padding-bottom: 25px;
    font-style: normal;
    font-family: "Gilroy-Regular";
    font-size: 15px;
    line-height: 150%;
}
.section3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    /* padding-top: 264px;
    padding-bottom: 243px; */
}
.central{
    grid-column: span 3;
    grid-row: span 2;
}
.card_sec3{
    justify-content: center;
}
.img_sec3{
    height: 290px;
    width: 290px;
}
.text_sec3{
    width: 310px;
}
.central_card_sec3{
    display: grid;
    justify-items: center;
    gap: 30px;
    padding-bottom: 25px;
    grid-column: span 3;
    grid-row: span 1;
}
.card_sec3{
    width: 360px;
    display: grid;
    justify-items: center;
    gap: 30px;
    padding-bottom: 25px;
}
.shadow{
    border-radius: 1px;
    border-color: #fff;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card_header_sec3{
    font-style: normal;
    font-family: "Gilroy-Bold";
    padding-bottom: 17px;
    font-size: 24px;
}
.central_header{
    font-style: normal;
    font-family: "Gilroy-Bold";
    font-size: 45px;}
.text_sec3{
    font-style: normal;
    font-family: "Gilroy-Regular";
    padding-top: 13px;
    font-size: 15px;}
}
